<main-music class='main-music'>
  <section class='main-music-img'>
    <img src='img/mainImage.png' alt='main Image' />
  </section>

  <section class='main-music-content'>
    <h2 class='songContent' id='songTitle'>Song Title</h2>
    <h3 class='songContent' id='singerName'>Singer Name</h3>
    <div id='progressBarContainer' class='progressBar-Wrapper'>
      <div id='progress' class='progressBar-progress'></div>
    </div>
    <div class='progressBar-time'>
      <h3 class='songDuration' id='currentTime'>0:00</h3>
      <h3 class='songDuration' id='duration'>3.55</h3>
    </div>
    <audio id='player' preload='metadata' type='audio/mp4'>

    </audio>
    <div class='main-music-button'>

      <span id='previous' class='material-icons-round nextPrevious'>
        skip_previous
      </span>
      <span id='playPause' class='material-icons-round playPause'>
        play_arrow
      </span>
      <span id='next' class='material-icons-round nextPrevious'>
        skip_next
      </span>

    </div>

  </section>

</main-music>