<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    {{!use for mobile responsive}}
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{!use for SEO description}}
    <meta
      name='description'
      content='well organize and easy to use music website, that enable user to create non-stop playlist'
    />
    <title>Main Page</title>
    {{!import google material icon}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet">
    {{! import google rubix font }}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    {{! import style sheet }}
    <link rel='stylesheet' href='css/style.css' />
      {{!import javascript}}
  <script src='js/index.js' defer></script>
  </head>
  <body>
   {{>header}}
    {{{body}}}
  </body>

</html>


