:root {
  --dark-blue-color: hsl(238, 70%, 59%);
  --light-blue-color: hsla(238, 70%, 59%, 0.15);
  --white-color: hsl(236, 71%, 96%);
  --grey-color: hsl(249, 3%, 55%);
  --black-color: hsl(345, 6%, 13%);
}
