@use '../util' as *;

h1 {
  font-size: 1.5em;
  color: var(--dark-blue-color);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.5px;
  @include breakpoint-up('medium') {
    font-size: 2em;
  }
  @include breakpoint-up('large') {
    font-size: 3em;
  }
}
h2 {
  font-weight: var(--font-weight-medium);
}
h3 {
  font-size: 1em;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.7px;
  color: var(--grey-color);
  @include breakpoint-up('large') {
    font-size: 1.3em;
  }
}
